@model CrudNativo.Models.Libro
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-action="Create">
                <!--para validar el lado del servidor-->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Titulo" class="control.label"></label>
                    <input asp-for="Titulo" class="form-control"/>
                    <!-- para validar del lado del cliente-->
                    <span asp-asp-validation-for="Titulo" class="Text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Descripcion" class="control.label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <!-- para validar del lado del cliente-->
                    <span asp-asp-validation-for="Titulo" class="Text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Autor" class="control.label"></label>
                    <input asp-for="Autor" class="form-control" />
                    <!-- para validar del lado del cliente-->
                    <span asp-asp-validation-for="Titulo" class="Text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaPublicacion" class="control.label"></label>
                    <input asp-for="FechaPublicacion" class="form-control" />
                    <!-- para validar del lado del cliente-->
                    <span asp-asp-validation-for="Titulo" class="Text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Precio" class="control.label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <!-- para validar del lado del cliente-->
                    <span asp-asp-validation-for="Titulo" class="Text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value=" Agregar libro" class="btn btn-primary">
                </div>



            </form>
        </div>
    </div>
</div>



