@model IEnumerable<CrudNativo.Models.Libro>
@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Libros</h1>


<div class="container">
    <div class="row">
        <div class=" col-sm-6">
            <a class=" btn btn-success d-block" asp-action="create" asp-controller="Libro">Agregar</a>
        </div>
    </div>
</div>

